// Modal / bootstrap ------------------------------------------
.modal {
    display: none;
    overflow: auto;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    text-align: center;
    outline: 0;
    &:before {
        content: '';
        height: 100vh;
        width: 1px;
        display: inline-block;
        vertical-align: middle;
    }
    &-open {
        overflow: hidden;
    }
    &-close {
        position: absolute;
        width: 15px;
        height: 15px;
        right: 21px;
        top: 23px;
        // background: image-url('close.svg') no-repeat center center;
        &:before,&:after {
            content: '';
            position: absolute;
            display: block;
            width: 19px;
            border-top: 1px solid $main_color;
            top: 7px;
            left: -2px;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
        &:hover {
            opacity: .8;
        }
    }
    &.fade .modal-dialog {
        transform: translate(0, 25%);
        transition: transform 0.3s ease-out;
    }
    &.in .modal-dialog {
        transform: translate(0, 0);
        position: relative;
    }
    &-dialog {
        position: relative;
        max-width: 670px;
        display: inline-block;
        vertical-align: middle;
        margin: 15px auto;
        max-width: 90%;
        text-align: left;
    }

    &-content {
        position: relative;
        background-color: #fff;
        border-radius: 0;
        box-shadow: 0 36px 68px rgba(0, 0, 0, 0.32);
        background-clip: padding-box;
        outline: 0;
        padding: 43px 58px;
    }

    &-backdrop {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1040;
        background-color: #1b202c;
        &.fade {
            opacity: 0;
            filter: alpha(opacity=0);
        }

        &.in {
            opacity: .8;
            filter: alpha(opacity=50);
        }
    }

    &-header {
        padding: 0 0 18px;
        min-height: 16.42857143px;
        color: #1d223b;
        font-size: 24px;
        .close {
            margin-top: -2px;
        }
    }

    &-title {
        margin: 0;
        line-height: 1.42857143;
    }

    &-body {
        position: relative;
        padding: 0;
    }

    &-footer {
        margin-top: 15px;
        padding: 19px 20px 20px;
        text-align: right;
        border-top: 1px solid #e5e5e5;
        .btn+.btn {
            margin-left: 5px;
            margin-bottom: 0;
        }

        .btn-group .btn+.btn {
            margin-left: -1px;
        }

        .btn-block+.btn-block {
            margin-left: 0;
        }
    }
    @media (max-width: 767px) {
        &:before {
            display: none;
        }
        &-dialog {
            max-width: 100%;
        }
        &-content {
            padding: 40px 25px 15px;
        }
    }

}



