/*
//  ==========================
//  Evgeniy Ivanov
//  Email: busforward@gmail.com
//  Skype: ivanov_ea
//  ==========================
 */

@import 'mixins/mixin';

// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,800&subset=cyrillic');
// @include font-face("Century Gothic", fonts/CenturyGothic, normal, normal);
// @include font-face("Century Gothic Bold", fonts/CenturyGothic, bold, normal);
// @include font-face("ArialMT", fonts/CenturyGothic, normal, normal);


// Import files
@import 'variables/variables';
@import 'core/reset';
@import 'core/form';
@import 'core/grid';
@import 'core/icon';
@import 'core/template';
@import 'core/slick';

@import 'blocks/header';
@import 'blocks/language';
@import 'blocks/menu';
@import 'blocks/navbar';
@import 'blocks/footer';

@import 'blocks/first_screen';
@import 'blocks/grid__why';
@import 'blocks/sale';



.line__altair {
	background: url('../img/altair_bg.png') no-repeat top center #fff;
	background-size: cover;
	padding-top: 145px;
	padding-bottom: 80px;
	position: relative;
	overflow: hidden;
	&:before {
		content: 'ALTAIR';
		position: absolute;
		color: #f7f7f7;
		font-weight: 800;
		font-size: 295px;
		display: block;
		right: -18.7%;
		top: 457px;
		transform: rotate(90deg);
		z-index: 0;
	}
	&:after {
		content: '';
		width: 1px;
		top: 0;
		bottom: 0;
		left: 49.3%;
		background-color: #e6e6e6;
		position: absolute;
		z-index: 1;

	}
	.container_center {
		position: relative;
		z-index: 3;
	}
	.content__title {
		margin-bottom: 52px;
	}
	@media (max-width: 991px) {
		&:before {
			right: -51%;
		}
	}
	@media (max-width: 767px) {
		padding-top: 50px;
		padding-bottom: 50px;
		&:before {
			display: none;
		}
		&:after {
			display: none;
		}
	}
}

.altair {
	&__row {
		@extend %clear_a;
		display: table;
		width: 100%;
		margin-bottom: 38px;
		position: relative;
		&:before {
			content: '';
			width: 15px;
			height: 15px;
			background-color: #e6e6e6;
			border-radius: 50%;
			top: 50%;
			margin-top: -7px;
			left: 50%;
			margin-left: -1.4%;
			display: block;
			position: absolute;
		}
		>div {
			display: table-cell;
			vertical-align: middle;
			width: 50%;
		}
		&_right {
			.altair__content {
				padding-left: 84px;
			}
			.altair__img {
				padding-left: 0;
				padding-right: 66px;
			}
		}
	}
	&__content {
		padding-right: 60px;
	}
	&__title {
		font-size: 18px;
		font-weight: 600;
		margin-bottom: 28px;
		&_item {
			display: inline-block;
			padding-top: 14px;
			padding-bottom: 14px;
			margin-right: 43px;
			background-image: linear-gradient(to top, #653e9b 0%, #e555c2 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			color: $main_color;
			&:nth-child(n+2) {
				border-left: 1px solid #e6e6e6;
				padding-left: 40px;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
	&__text {
		font-size: 14px;
		line-height: 24px;
		margin-bottom: 23px;
		a {
			color: #c745a6;
			&:hover {
				text-decoration: none;
			}
		}
		p {
			padding: 0;
			margin: 0;
			+ p {
				margin-top: 24px;
			}
		}
	}
	&__img {
		padding-left: 72px;
	}
	@media (max-width: 991px) {
		&__row {
			&:before {
			}
			>div {
			}
			&_right {
				.altair__content {
					padding-left: 30px;
				}
				.altair__img {
					padding-right: 30px;
				}
			}
		}
		&__content {
			padding-right: 30px;
		}
		&__img {
			padding-left: 30px;
		}
		&__title {
			&_item {
				margin-right: 10px;
				padding-top: 4px;
				padding-bottom: 4px;
				&:nth-child(n+2) {
					padding-left: 12px;
				}
			}
		}
	}
	@media (max-width: 767px) {
		&__row {
			margin-bottom: 73px;
			&:before {
				display: none;
			}
			>div {
				display: block;
				width: 100%;
				text-align: center;
			}
			&_right {
				position: relative;
				.altair__content {
					padding-left: 0;
					padding-bottom: 70%;
				}
				.altair__img {
					padding-right: 0;
					position: absolute;
					bottom: 0;
				}
			}
		}
		&__content {
			padding-right: 0;
		}
		&__img {
			padding-left: 0;
			img {
				max-width: 70%;
			}
		}
		&__title {
			margin-bottom: 23px;
			&_item {
			}
		}
	}
}

.exp {
	background: url('../img/expo_bg.jpg') no-repeat center center;
	background-size: cover;
	padding-top: 105px;
	padding-bottom: 161px;
	.container_center {
		position: relative;
	}
	.content__title {
		color: #fff;
		padding-right: 110px;
		margin-bottom: 61px;
	}
	&__slider {
		&_item {
			// @extend %clear_a;
			background-color: #fff;
			outline: 0;
			display: table;
		}
		&_img {
			overflow: hidden;
			display: table-cell;
			vertical-align: top;
			img {
				height: 100%;
				max-width: initial;;
			}
		}
		&_content {
			padding: 50px 50px 26px 60px;
			display: table-cell;
			vertical-align: top;
			font-size: 14px;
			line-height: 24px;
			p + p {
				margin-top: 18px;
			}
		}
		&_title {
			font-weight: 600;
			margin-bottom: 28px;
			font-size: 24px;
		}
		&_prev,&_next {
			position: absolute;
			top: 5px;
			right: 15px;
			border: 1px solid #cccccc;
			width: 50px;
			height: 50px;
			cursor: pointer;
			transition: opacity .3s;
			&:before {
				content: '';
				position: absolute;
				top: 50%;
				margin-top: -10px;
				left: 50%;
				margin-left: -9px;
			}
			&:hover {
				opacity: .5;
			}
		}
		&_prev {
			right: 75px;
			&:before {
				content: url('../img/prev.svg');
			}
		}
		&_next {
			&:before {
				content: url('../img/next.svg');
				margin-left: -5px;
			}
		}
		.slick {
			&-dots {
				list-style: none;
				padding: 0;
				display: table;
				width: 100%;
				position: relative;
				&:before {
					content: '';
					position: absolute;
					top: 53%;
					left: 0;
					height: 1px;
					width: 110%;
					background-image: linear-gradient(to left, #021d2d 0%, #ffffff 100%);
				}
				> li {
					display: table-cell;
					text-align: center;
					vertical-align: middle;
					height: 50px;
					position: relative;
					cursor: pointer;
					padding: 0 10px;
					width: 2.9%;
					&:after {
						content: '';
						display: block;
						color: #fff;
						font-size: 14px;
						position: absolute;
						bottom: -34px;
						left: 0;
						right: 0;
					}
					&:first-child {
						width: 4%;
						&:after {
							content: '2010';
						}
					}
					&:nth-child(2) {
						width: 4%;
						&:after {
							content: '2012';
						}
					}
					&:nth-child(3) {
						width: 4%;
						&:after {
							content: '2013';
						}
					}
					&:nth-child(4) {
						width: 4%;
						&:after {
							content: '2014';
						}
					}
					&:nth-child(5) {
						width: 4%;
						&:after {
							content: '2015';
						}
					}
					&:nth-child(6) {
						width: 4%;
						&:after {
							content: '2016';
						}
					}
					&:nth-child(7) {
						width: 5%;
						text-align: right;
						&:after {
							content: '2017';
							color: #50809b;
						}
						button {
							border: none;
						}
					}
					&:nth-child(8) {
						&:after {
							content: '01';
						}
					}
					&:nth-child(9) {
						&:after {
							content: '02';
						}
					}
					&:nth-child(10) {
						&:after {
							content: '03';
						}
					}
					&:nth-child(11) {
						&:after {
							content: '04';
						}
					}
					&:nth-child(12) {
						&:after {
							content: '05';
						}
					}
					&:nth-child(13) {
						&:after {
							content: '06';
						}
					}
					&:nth-child(14) {
						&:after {
							content: '07';
						}
					}
					&:nth-child(15) {
						&:after {
							content: '08';
						}
					}
					&:nth-child(16) {
						&:after {
							content: '09';
						}
						button {
							opacity: .95;
						}
					}
					&:nth-child(17) {
						&:after {
							content: '10';
						}
						button {
							opacity: .9;
						}
					}
					&:nth-child(18) {
						width: 5%;
						&:after {
							content: '11';
						}
						button {
							opacity: .85;
						}
					}
					&:nth-child(19) {
						&:after {
							content: '12';
						}
						button {
							opacity: .8;
						}
					}
					&:nth-child(20) {
						width: 5%;
						text-align: right;
						&:after {
							content: '2018';
							color: #50809b;
						}
						button {
							border: none;
							opacity: .75;
						}
					}
					&:nth-child(21) {
						&:after {
							content: 'Q1';
						}
						button {
							opacity: .7;
						}
					}
					&:nth-child(22) {
						&:after {
							content: 'Q2';
						}
						button {
							opacity: .65;
						}
					}
					&:nth-child(23) {
						&:after {
							content: 'Q3';
						}
						button {
							opacity: .6;
						}
					}
					&:nth-child(24) {
						&:after {
							content: 'Q4';
						}
						button {
							opacity: .55;
						}
					}
					&:nth-child(25) {
						&:after {
							content: 'Q5';
						}
						button {
							opacity: .5;
						}
					}
					&:nth-child(26) {
						&:after {
							content: 'Q6';
						}
						button {
							opacity: .45;
						}
					}
					&:nth-child(27) {
						width: 50px;
						text-align: right;
						&:after {
							content: '2019';
							color: #50809b;
						}
						button {
							border: none;
							opacity: .4;
						}
					}
					&:nth-child(28) {
						&:after {
							content: 'Q1';
						}
						button {
							opacity: .35;
						}
					}
					&:nth-child(29) {
						&:after {
							content: 'Q2';
						}
						button {
							opacity: .3;
						}
					}
					&:nth-child(30) {
						&:after {
							content: 'Q3';
						}
						button {
							opacity: .25;
						}
					}
					button {
						cursor: pointer;
						border: none;
						background-color: transparent;
						font-size: 0;
						border-radius: 0;
						border-left: 1px solid #fff;
						height: 14px;
						transition: height .3s;
						padding: 0;
					}
					&.slick-active {
						button {
							height: 50px;
						}
						&:after {
							font-weight: 800;
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
	@media (max-width: 991px) {
		&__slider {
			&_item {

			}
			&_img {
				width: 50%;
				float: left;
				img {
				}
			}
			&_content {
			}
			.slick {
				&-dots {
					display: none !important;
				}
			}
		}
	}
	@media (max-width: 991px) {
		padding-top: 50px;
		padding-bottom: 50px;
		.content__title {
			padding-left: 0;
			margin-bottom: 30px;
		}
		&__slider {
			&_item {
				display: block;
			}
			&_img {
				width: 100%;
				display: block;
				float: none;
				img {
					width: 100%;
				}
			}
			&_content {
				display: block;
				width: 100%;
				padding: 30px 20px 20px;
			}
			&_prev, &_next {
				display: none;
			}
		}
	}
}

// [data-slick-index="6"] {
// 	display: none !important;
// }

.plan {
	padding-top: 112px;
	padding-bottom: 80px;
	position: relative;
	&:before {
		content: 'PLAN';
		position: absolute;
		right: 0;
		top: 114px;
		font-size: 300px;
		font-weight: 800;
		color: #f7f7f7;
		z-index: 0;
	}
	.container_center {}
	.content__title {
		margin-bottom: 46px;
		max-width: 421px;
	}
	&__sub {
		line-height: 24px;
		max-width: 790px;
		margin-bottom: 68px;
	}
	&__table {
		padding: 0;
		margin: 0;
		width: 100%;
		border-collapse: collapse;;
		&_wrap {
			overflow: auto;
		}
		th,td {
			padding: 16px 15px;
			vertical-align: middle;
			text-align: center;
			&:first-child {
				padding: 16px 34px;
				text-align: left;
			}
			&:nth-child(n+2) {
				white-space: nowrap;
			}
		}
		th {
			background-color: #023551;
			border: 1px solid #023551;
			font-size: 14px;
			letter-spacing: 1.4px;
			text-transform: uppercase;
			color: #fff;
			font-weight: 600;
		}
		td {
			width: 11%;
			border: 1px solid #e6e6e6;
			&.active {
				background-color: #f3f3f3;
			}
			&:first-child {
				width: 33%;
			}
		}
	}
	@media (max-width: 991px) {
		&:before {
			top: 75px;
			font-size: 160px;
		}
	}
	@media (max-width: 767px) {
		padding-top: 50px;
		padding-bottom: 50px;
		&__table {
			min-width: 700px;
			&_wrap {
				position: relative;
				&:after {
					// content: '';
					// width: 25px;
					// top: 0;
					// right: 0;
					// bottom: 0;
					// position: absolute;
					// z-index: 5;
					// background-image: linear-gradient(to left, #fff 0%, transparent 100%);
				}
			}
			th,td {
				&:first-child {
					padding: 16px;
				}
			}
		}
		&:before {
			top: 34px;
			font-size: 100px;
		}
	}
}
