@charset "UTF-8";
@font-face {
  font-family: 'altair';
  src: url("../fonts/altair.eot?4e470z");
  src: url("../fonts/altair.eot?4e470z#iefix") format("embedded-opentype"), url("../fonts/altair.ttf?4e470z") format("truetype"), url("../fonts/altair.woff?4e470z") format("woff"), url("../fonts/altair.svg?4e470z#altair") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="ico-"], [class*=" ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'altair' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.ico-bitcoin:before {
  content: ""; }

.ico-fb:before {
  content: ""; }

.ico-telegram:before {
  content: ""; }

.ico-twitter:before {
  content: ""; }

.ico-youtube:before {
  content: ""; }
