// Grid
// ------------------------
// Example - for html
// <div class="grid grid__3 ">
//  	<div>
// 			...
//  	</div>
//  	<div>
// 			...
//  	</div>
//  	<div>
// 			...
//  	</div>
// </div>
// ------------------------
.grid {
	margin-left: -$grid_padding;
	box-sizing: content-box;
	@include flex();
	@include flex-flow(row wrap);
	// @extend %clear_all;
	&-nowrap {
		@include flex-flow(row nowrap);
	}
	>div {
		padding-left: $grid_padding;
		margin-bottom: $grid_padding;
		&.width {
			&_1 {
				width: 100%;
			}
			&_2 {
				width: 50%;
			}
			&_3 {
				width: 33.3%;
			}
			&_4 {
				width: 25%;
			}
			&_5 {
				width: 19.9%;
			}
			&_2_3 {
				width: 66%;
			}
			&_3_4 {
				width: 75%;
			}
		}
	}
	&__item {
		// border: 1px solid #000;
		&.active {
			// border: 3px solid #ddd;
		}
	}
	&__1 {
		>div {		
			width: 100%;
		}
	}
	&__2 {
		>div {		
			width: 50%;
		}
	}
	&__3 {
		&>div {
			width: 33.3%;
		}
	}
	&__4 {
		>div {		
			width: 25%;
		}
	}
	&__5 {
		>div {		
			width: 20%;
		}
	}
	&__6 {
		>div {		
			width: 16.6%;
		}
	}
}


[data-grid-match] {
	.grid__item {
		background-color: #eee;
	}
}

@media (max-width: 991px) {
	.grid {
		&__4 {
			>div {
				width: 50%;
			}
		}
	}
}

.grid__semiline {
	// margin-left: 0;
	.grid__wrapper {
		margin-bottom: 0;
		padding: 18px 60px 66px 60px;
		background-color: #fff;
		line-height: 1.4;
		&:first-child,&:nth-child(4n+4) {
			padding-left: 22px;
		}
		&:nth-child(n+4) {
			border-top: 1px solid #ebebeb;
			padding-top: 49px;
			padding-bottom: 22px;
		}

		&:nth-child(3n+2) {
			border-left: 1px solid #ebebeb;
		}

		&:nth-child(3n+3) {
			border-left: 1px solid #ebebeb;
		}
	}
	&_img {
		margin-bottom: 30px;
		min-height: 50px;
		img {
			max-height: 100%;
		}
	}
	@media (max-width: 1199px) {
		.grid__wrapper {
			padding: 18px 40px 46px 40px;
			&:first-child,&:nth-child(4n+4) {
			}
			&:nth-child(n+4) {
			}

			&:nth-child(3n+2) {
			}

			&:nth-child(3n+3) {

			}
		}
	}
	@media (max-width: 991px) {
		// margin-left: 0;
		margin-right: -20px;
		.grid__wrapper {
			padding: 40px !important;
			width: 50%;
			&:first-child,&:nth-child(4n+4) {
			}
			&:nth-child(n+3) {
				border-top: 1px solid #ebebeb;
			}

			&:nth-child(2n+2) {
				border-left: 1px solid #ebebeb;
			}

			&:nth-child(3n+3) {
			}
		}
	}
	@media (max-width: 767px) {
		margin: 0;
		.grid__wrapper {
			width: 100%;
			padding: 30px 0 !important;
			border: none !important;
			border-bottom: 1px solid #ebebeb !important;
			text-align: center;
			&:first-child,&:nth-child(4n+4) {
			}
			&:nth-child(n+4) {
			}

			&:nth-child(3n+2) {
			}

			&:nth-child(3n+3) {

			}
			&:last-child {
				border-bottom: none !important;
			}
		}
		&_img {
			margin-bottom: 14px;
		}
	}
}
