$font-path: "../fonts" !default;

$ico-steemit: "\e905";
$ico-medium: "\e906";
$ico-golos: "\e907";
$ico-bitcoin: "\e900";
$ico-fb: "\e901";
$ico-telegram: "\e902";
$ico-twitter: "\e903";
$ico-youtube: "\e904";

@font-face {
  font-family: 'altair';
  src:  url('#{$font-path}/altair.eot?4e470z');
  src:  url('#{$font-path}/altair.eot?4e470z#iefix') format('embedded-opentype'),
    url('#{$font-path}/altair.ttf?4e470z') format('truetype'),
    url('#{$font-path}/altair.woff?4e470z') format('woff'),
    url('#{$font-path}/altair.svg?4e470z#altair') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ico-"], [class*=" ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'altair' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-steemit {
  &:before {
    content: $ico-steemit;
  }
}
.ico-medium {
  &:before {
    content: $ico-medium;
  }
}
.ico-golos {
  &:before {
    content: $ico-golos;
  }
}
.ico-bitcoin {
  &:before {
    content: $ico-bitcoin;
  }
}
.ico-fb {
  &:before {
    content: $ico-fb;
  }
}
.ico-telegram {
  &:before {
    content: $ico-telegram;
  }
}
.ico-twitter {
  &:before {
    content: $ico-twitter;
  }
}
.ico-youtube {
  &:before {
    content: $ico-youtube;
  }
}

