.language {
	color: #fff;
	float: right;
	margin-top: 7px;
	font-size: 12px;
	margin-right: 3%;
	position: relative;
	padding: 5px;
	cursor: pointer;
	z-index: 7;
	white-space: nowrap;
	transition: all .3s;
	&__current {
		display: block;
		&:after {
			content: url(../img/angel.svg);
			display: inline-block;
			vertical-align: middle;
			transform: rotate(180deg);
			margin-left: 9px;
			@include trs(.3);
		}
	}
	&__list {
		height: 0;
		position: absolute;
		left: -3px;
		top: 13px;
		list-style: none;
		padding: 0;
		transform: translate(0, -15%);
		@include trs(.3);
		overflow: hidden;
		&_item {
			a {
				color: transparentize(#fff, .5);
				display: block;
				text-decoration: none;
				padding: 0px 17px;
				@include trs(.3);
				&:hover {
					color: #fff;
					background-color: transparentize(#fff, .9);
				}
			}
		}
	}
	&.hide {
		overflow: hidden;
		width: 0 !important;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
	}
	&.open {
		.language {
			&__current {
				&:after {
					transform: rotate(0deg);
				}
			}
			&__list {
				border: 1px solid transparentize(#fff, .5);
				height: auto;
				display: block;
				transform: translate(0, 0%);
				&_item {
					a {
						padding: 4px 17px;
					}
				}
			}
		}
	}
	@media (max-width: 991px) {
		margin-right: 0;
	}
	@media (max-width: 767px) {
		margin-right: 0;
		margin-top: 0;
		position: absolute;
		right: 23px;
		top: 3px;
		padding-right: 0;
		transition: none;
		&.hide {
			transition: all 0s;
			overflow: initial;
			width: auto !important;
			padding-right: 0;
			right: 18px;
		}
	}
}
